
@{
    ViewData["Title"] = "BankingHome";
    Layout = "~/Views/Shared/_organizationlayout.cshtml";
}

<h1>BankingHome</h1>

@Html.Partial("/Views/Shared/PartialViews/_partialCalculator.cshtml")

@*@Html.RenderPartial("~/views/shared/partialviews/_partialcalculator.cshtml")*@

