
@{
    ViewData["Title"] = "Transfer";
    Layout = "~/Views/Shared/_organizationlayout.cshtml";
}

<h1>Transfer</h1>

<form>
    <input type="number" placeholder="Enter From Account Number" class="form-control" />
    <input type="number" placeholder="Enter From Account Number" class="form-control" />
    <button> Transfer </button>
    </form>
