@model shoppingAPP_MVC_EFCore.Models.EF.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OId" class="control-label"></label>
                <input asp-for="OId" class="form-control" />
                <span asp-validation-for="OId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ODate" class="control-label"></label>
                <input asp-for="ODate" class="form-control" />
                <span asp-validation-for="ODate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OStatus" class="control-label"></label>
                <input asp-for="OStatus" class="form-control" />
                <span asp-validation-for="OStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OPid" class="control-label"></label>
                <select asp-for="OPid" class ="form-control" asp-items="ViewBag.OPid"></select>
            </div>
            <div class="form-group">
                <label asp-for="OAmount" class="control-label"></label>
                <input asp-for="OAmount" class="form-control" />
                <span asp-validation-for="OAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
