



<h1> List of Top Selling Products </h1>

@*<ul>
    <li> Pepsi </li>
    <li> Pepsi 2</li>
    <li> Pepsi 3</li>
    <li> Pepsi 4</li>
    <li> Pepsi 5</li>
    <li> Pepsi 6</li>
    <li> Pepsi 7</li>
    <li> Pepsi 8</li>
    <li> Pepsi 9</li>
</ul>*@

<ul>
    @foreach (var item in ViewBag.pList)
    {
        <li> @item</li>
    }
</ul>