
<div>

    <h3> Customer : @ViewBag.customerName </h3>

    <h3> City : @ViewBag.customerCity </h3>

    <h3> Contact : @ViewBag.customerContact </h3>

    <h3> Status : @ViewBag.customerIsActive </h3>

</div>